{% extends ':layouts:akela-dashboard.html.twig' %}

{%  block page_header %}
    {{ parent() }}
    <script type="text/javascript">
        var newActive = $('#li_clients');

        $("li").click(function(){
            if( !( $( '#li_clients' ).class( 'active' ) ) ) {
                $(this).removeClass('active');
                newActive.addClass('active');
            }
        });
    </script>
{% endblock %}
{% block content %}
    {{ form_start(form) }}

    {{ form_row(form.firstname ) }}
    {{ form_row(form.lastname ) }}

    <button type="submit" class="btn btn-success">Update <span class="fa fa-lock"></span></button>

    {{ form_end(form) }}
{% endblock %}