{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div clas="row">
            <div class="col-xs-12">
                <h1>Login!</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ dump(error) }}
                    </div>
                {% endif %}

                {{ form_start(form) }}

                    {{ form_row(form._username ) }}
                    {{ form_row(form._password ) }}

                    <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}