{#{% extends 'PackBundle:Student:formLayout.html.twig' %}#}
{%  extends '::base.html.twig' %}

{% block body %}
    {%  for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success"> {{ msg }}</div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>EDIT USER</h1>

                {{ form_start(addUserForm) }}
                    {{ form_row(addUserForm.firstname) }}
                    {{ form_row(addUserForm.lastname) }}
                    {{ form_row(addUserForm.username, {
                        'label': 'Alter Ego!'
                    }) }}
                    {{ form_row(addUserForm.email) }}
                    {{ form_row(addUserForm.plain_password) }}
                    {{ form_row(addUserForm.createdAt) }}

                    <button type="submit" class="btn btn-action">Save</button>
                {{ form_end(addUserForm) }}

            </div>
        </div>
    </div>


    {#{% include 'PackBundle:Student:_form.html.twig' %}#}
{% endblock %}